<h1>Show Gladiator</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @gladiator.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @gladiator.description %>
  </li>

  <li>
    <strong>Start date:</strong>
    <%= @gladiator.start_date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.gladiator_path(@conn, :edit, @gladiator) %></span>
<span><%= link "Back", to: Routes.gladiator_path(@conn, :index) %></span>
