<main role="main" class="">
  <p class="alert alert-info alert-left toast" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger alert-left toast" role="alert"><%= get_flash(@conn, :error) %></p>

</main>
  <%= @inner_content %>
